In [1]:
import pandas as pd
import numpy as np
import pickle

ratings = pd.read_pickle('users_text.pkl')

print(ratings.shape)

(175539, 6)

In [2]:
# user 정보 데이터
ratings.head()

,isbn,rank_mean,review_title,review_id,review_rank,review_text
0,9791190710343,9.4,자기만의 방 - 버지니아 울프의 여성에세이,s*****0,5.0,\n\n \n시대를 뛰어넘어 진정한 페미니즘 비평의 장을 연 고전 <자기만의 방>은...
1,9791190710343,9.4,#여성에세이#자기만의 방,녹**다,5.0,\n\n \n자기만의 방 버지니아 울프의 작품이다.한시대를 살다간 그녀의 삶은 기발...
2,9791190710343,9.4,자기만의 방,m*******n,4.0,"\n\n \n시대를 넘어 여전한 감동을 들려주는 작가, 버지니아 울프의 대표적인 작..."
3,9791190710350,10.0,오만과 편견,할**장,5.0,\n\n \n오만과 편견은 1813년 출판된 이래 한국에도 여러 출판사를 통해 번역...
4,9791190710367,10.0,프랑켄슈타인,책*레,5.0,"\n\n신이여,\n내가 그대에게 진흙으로 빚어달라 청했습니까?\n나를 어둠에서 끌어..."

## 사용자-아이템 평점 행렬로 변환

In [3]:
# 필요한 컬럼만 추출
ratings = ratings[['review_id', 'isbn', 'review_rank']]
ratings

        review_id           isbn review_rank
0         s*****0  9791190710343         5.0
1            녹**다  9791190710343         5.0
2       m*******n  9791190710343         4.0
3            할**장  9791190710350         5.0
4             책*레  9791190710367         5.0
...           ...            ...         ...
175534     귀****면  9788995696972         4.0
175535   q******o  9788995696972         3.0
175536  c*******x  9788995696972         3.0
175537     북****구  9788995696972         3.0
175538        양*치  9788995696972         2.0

[175539 rows x 3 columns]

In [5]:
# pivot_table 메소드를 사용해서 행렬 변환
ratings_matrix = ratings.pivot_table('review_rank', index='review_id', columns='isbn')

print(ratings_matrix.shape)
ratings_matrix

(15626, 28994)

isbn,8809254942867,8809332972588,8809416540344,8809448100080,8809448100097,8809478300054,8809487620181,8809501981243,8809501981250,8809501981267,...,9791197732713,9791197736308,9791197742408,9791197766602,9791197770708,9791197770906,9791197780103,9791197784200,9791197798603,9798981631603
review_id,,,,,,,,,,,,,,,,,,,,,
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'***,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'******아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(********),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
****,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
힙*터,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
힝*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
不**哉,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
陸*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ｋ***Ｏ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
books = pd.read_pickle('users_final.pkl')
books = books[['isbn', 'rank_mean', 'rank_percentage']]

In [10]:
books.columns

Index(['isbn', 'rank_mean', 'rank_percentage', 'review_title', 'review_id',
       'review_rank', 'review_text'],
      dtype='object')

In [13]:
re = pd.read_pickle('recommend_cat_new.pkl')
re.columns

Index(['isbn', 'title', 'categoryName', 'salesPoint', 'adult', 'rank',
       'genres', 'mood', 'interest'],
      dtype='object')

In [16]:
movies = pd.merge(books,re, on='isbn')
movies

,isbn,rank_mean,rank_percentage,title,categoryName,salesPoint,adult,rank,genres,mood,interest
0,9791190710343,[9.4],"[67%, 33%, 0%, 0%, 0%]",자기만의 방,에세이,0,False,0,"[시대, 동화, 예술]","[자유, 행복, 위로, 열망]","[사랑, 생각, 사회, 페미니즘, 인생]"
1,9791190710350,[10.0],"[100%, 0%, 0%, 0%, 0%]",오만과 편견,소설,0,False,0,"[시대, 동화]","[도전, 열정, 행복]","[사랑, 심리, 인간, 인생, 청춘, 관계, 페미니즘, 생각, 일상]"
2,9791190710367,[10.0],"[100%, 0%, 0%, 0%, 0%]",프랑켄슈타인,소설,0,False,0,"[과학, 동화, 판타지, 예술]","[열망, 열정, 자유, 희망, 고민]","[심리, 동물, 인간, 관계]"
3,9791128858338,[],[],[큰글씨책] 원서발췌 신선전,소설,0,False,0,"[과학, 예술, 철학]",[],"[종교, 자연]"
4,9788954685603,[],[],집착,소설,350,False,0,"[예술, 자서전, 역사]","[고통, 슬픔, 비극, 절망, 불행, 행복, 열정, 고민]","[심리, 관계, 인간, 생각, 사랑, 인생, 청춘, 일상]"
...,...,...,...,...,...,...,...,...,...,...,...
47487,9791185020136,[8.7],"[48%, 45%, 7%, 0%, 0%]",뇌력혁명 - 뇌피로가 풀려야 인생이 풀린다!,자기계발,281,False,9,"[과학, 시대]","[행복, 우울, 불안, 고민, 긍정]","[사회, 일상, 인간, 인생, 청춘, 시간]"
47488,9788997838127,[8.4],"[53%, 35%, 12%, 0%, 0%]",남자의 교과서 - 여자는 전혀 모르고 남자는 차마 말 못하는 것들,자기계발,281,False,9,[동화],"[슬픔, 행복, 고민, 후회]","[정치, 관계, 생각, 인생, 가족, 친구, 시간]"
47489,9788956591858,[],[],그리스 신전에서 인간의 길을 묻다 - 내 인생을 바꾸는 4천 년의 지혜,자기계발,281,False,8,"[예술, 시대, 판타지, 동화]","[열정, 도전, 용기, 행복]","[성공, 인간, 인생, 청춘, 일상]"
47490,9788987794938,[8.0],"[0%, 100%, 0%, 0%, 0%]",성공을 부르는 긍정의 힘,자기계발,281,False,7,[],[],[성공]
47491,9788995696972,[7.3],"[10%, 60%, 30%, 0%, 0%]",성공한 사람들은 말의 절반이 칭찬이다,자기계발,281,False,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"

In [20]:
rating_books = pd.merge(ratings, movies, on='isbn') 
rating_books

,review_id,isbn,review_rank,rank_mean,rank_percentage,title,categoryName,salesPoint,adult,rank,genres,mood,interest
0,s*****0,9791190710343,5.0,[9.4],"[67%, 33%, 0%, 0%, 0%]",자기만의 방,에세이,0,False,0,"[시대, 동화, 예술]","[자유, 행복, 위로, 열망]","[사랑, 생각, 사회, 페미니즘, 인생]"
1,녹**다,9791190710343,5.0,[9.4],"[67%, 33%, 0%, 0%, 0%]",자기만의 방,에세이,0,False,0,"[시대, 동화, 예술]","[자유, 행복, 위로, 열망]","[사랑, 생각, 사회, 페미니즘, 인생]"
2,m*******n,9791190710343,4.0,[9.4],"[67%, 33%, 0%, 0%, 0%]",자기만의 방,에세이,0,False,0,"[시대, 동화, 예술]","[자유, 행복, 위로, 열망]","[사랑, 생각, 사회, 페미니즘, 인생]"
3,할**장,9791190710350,5.0,[10.0],"[100%, 0%, 0%, 0%, 0%]",오만과 편견,소설,0,False,0,"[시대, 동화]","[도전, 열정, 행복]","[사랑, 심리, 인간, 인생, 청춘, 관계, 페미니즘, 생각, 일상]"
4,책*레,9791190710367,5.0,[10.0],"[100%, 0%, 0%, 0%, 0%]",프랑켄슈타인,소설,0,False,0,"[과학, 동화, 판타지, 예술]","[열망, 열정, 자유, 희망, 고민]","[심리, 동물, 인간, 관계]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175534,귀****면,9788995696972,4.0,[7.3],"[10%, 60%, 30%, 0%, 0%]",성공한 사람들은 말의 절반이 칭찬이다,자기계발,281,False,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"
175535,q******o,9788995696972,3.0,[7.3],"[10%, 60%, 30%, 0%, 0%]",성공한 사람들은 말의 절반이 칭찬이다,자기계발,281,False,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"
175536,c*******x,9788995696972,3.0,[7.3],"[10%, 60%, 30%, 0%, 0%]",성공한 사람들은 말의 절반이 칭찬이다,자기계발,281,False,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"
175537,북****구,9788995696972,3.0,[7.3],"[10%, 60%, 30%, 0%, 0%]",성공한 사람들은 말의 절반이 칭찬이다,자기계발,281,False,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"
175538,양*치,9788995696972,2.0,[7.3],"[10%, 60%, 30%, 0%, 0%]",성공한 사람들은 말의 절반이 칭찬이다,자기계발,281,False,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"

In [21]:
# columns='title' 로 title 컬럼으로 pivot 수행. 
ratings_matrix = rating_books.pivot_table('review_rank', index='review_id', columns='title')
ratings_matrix

title,"#걸보스 Girlboss - 훔친 책을 팔던 소녀, 5년 만에 1000억대 CEO가 되다","#너에게 - 너에게 보내는 편지, 완글",#씬,#예능작가 - 예능작가 16인의 생생한 방송 이야기,#킬러스타그램,&quot;죽을 만큼 힘들면 회사 그만두지그래&quot;가 안 되는 이유,'나의 나무' 아래서,'뉴욕 52번가' 하수구의 철학자 라바,'시인' 임경남의 나 데리고 잘 사는 법,(만화편) 2억 빚을 진 내게 우주님이 가르쳐준 운이 풀리는 말버릇,...,힘들 때 펴보라던 편지 - 영혼을 깨우는 선승들의 일화 301,힘들 땐 잠깐 쉬었다 가도 괜찮아 - 오늘 행복해지고 싶은 당신에게,힘들고 지칠 때 희망을 주는 이야기,힘들면 힘 내려놔 - 나를 믿는 습관,힘들어도 괴롭진 않아 - 원유헌의 구례일기,힘들었던 날들을 좋았던 날들로,"힘이 되는 말, 독이 되는 말 - 상처 주지 않고 미움 받지 않는 인간관계의 지혜","힙 피플, 나라는 세계 - 나의 쓸모와 딴짓","女子, 사임당","茶로 만난 인연 - 향기를 품은 사람들이 내게 다가왔다, 홍차 에세이"
review_id,,,,,,,,,,,,,,,,,,,,,
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'***,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'******아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(********),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
****,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
힙*터,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
힝*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
不**哉,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
陸*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ｋ***Ｏ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# NaN 값을 모두 0 으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix

title,"#걸보스 Girlboss - 훔친 책을 팔던 소녀, 5년 만에 1000억대 CEO가 되다","#너에게 - 너에게 보내는 편지, 완글",#씬,#예능작가 - 예능작가 16인의 생생한 방송 이야기,#킬러스타그램,&quot;죽을 만큼 힘들면 회사 그만두지그래&quot;가 안 되는 이유,'나의 나무' 아래서,'뉴욕 52번가' 하수구의 철학자 라바,'시인' 임경남의 나 데리고 잘 사는 법,(만화편) 2억 빚을 진 내게 우주님이 가르쳐준 운이 풀리는 말버릇,...,힘들 때 펴보라던 편지 - 영혼을 깨우는 선승들의 일화 301,힘들 땐 잠깐 쉬었다 가도 괜찮아 - 오늘 행복해지고 싶은 당신에게,힘들고 지칠 때 희망을 주는 이야기,힘들면 힘 내려놔 - 나를 믿는 습관,힘들어도 괴롭진 않아 - 원유헌의 구례일기,힘들었던 날들을 좋았던 날들로,"힘이 되는 말, 독이 되는 말 - 상처 주지 않고 미움 받지 않는 인간관계의 지혜","힙 피플, 나라는 세계 - 나의 쓸모와 딴짓","女子, 사임당","茶로 만난 인연 - 향기를 품은 사람들이 내게 다가왔다, 홍차 에세이"
review_id,,,,,,,,,,,,,,,,,,,,,
,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'***,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'******아,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
(********),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
****,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
힙*터,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
힝*,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
不**哉,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
陸*,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ｋ***Ｏ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

-> 사용자-아이템 행렬이 만들어졌다.

### 영화와 영화들 간 유사도 산출

In [23]:
# 아이템-사용자 행렬로 transpose 한다.(기존의 행과 열을 전치함)
ratings_matrix_T = ratings_matrix.transpose()

print(ratings_matrix_T.shape)
ratings_matrix_T.head(3)

(28379, 15626)

review_id,,'***,'******아,(********),****,*****,**********************,-*,.*,.*.,...,힘*나,힘*내,힘*니,힘*지,힙**녀,힙*터,힝*,不**哉,陸*,Ｋ***Ｏ
title,,,,,,,,,,,,,,,,,,,,,
"#걸보스 Girlboss - 훔친 책을 팔던 소녀, 5년 만에 1000억대 CEO가 되다",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"#너에게 - 너에게 보내는 편지, 완글",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#씬,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# 영화와 영화들 간 코사인 유사도 산출
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity() 로 반환된 넘파이 행렬을 영화명을 매핑하여 DataFrame으로 변환
item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns,
                          columns=ratings_matrix.columns)

print(item_sim_df.shape)
item_sim_df.head(3)

MemoryError: Unable to allocate 6.00 GiB for an array with shape (28379, 28379) and data type float64

In [12]:
# Godfather와 유사한 영화 6개 확인해보기
item_sim_df["Godfather, The (1972)"].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [13]:
# 자기 것 빼고 인셉션과 유사한 영화 5개 확인해보기
item_sim_df["Inception (2010)"].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

### 아이템 기반 인접 이웃 협업 필터링으로 개인화된 영화 추천

In [14]:
# 평점 벡터(행 벡터)와 유사도 벡터(열 벡터)를 내적(dot)해서 예측 평점을 계산하는 함수 정의
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr)/ np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [15]:
item_sim_df.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.0,0.0,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [17]:
ratings_pred = predict_rating(ratings_matrix.values , item_sim_df.values)
ratings_pred

array([[0.07034471, 0.5778545 , 0.32169559, ..., 0.13602448, 0.29295452,
        0.72034722],
       [0.01826008, 0.04274424, 0.01886104, ..., 0.02452792, 0.01756305,
        0.        ],
       [0.01188449, 0.03027871, 0.06443729, ..., 0.00922874, 0.01041982,
        0.08450144],
       ...,
       [0.32443466, 1.02254119, 0.5984666 , ..., 0.53858621, 0.52763888,
        0.69887065],
       [0.00483488, 0.05359271, 0.02625119, ..., 0.0131077 , 0.01832826,
        0.03337679],
       [3.62830323, 1.51791811, 0.83366781, ..., 1.81609065, 0.56507537,
        0.57465402]])

In [18]:
# 데이터프레임으로 변환
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)
print(ratings_pred_matrix.shape)
ratings_pred_matrix.head(10)

(610, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501
4,0.049145,0.277628,0.160448,0.206892,0.309632,0.042337,0.130048,0.116442,0.099785,0.097432,...,0.051269,0.076051,0.055563,0.054137,0.008343,0.159242,0.100941,0.062253,0.146054,0.231187
5,0.007278,0.066951,0.041879,0.013880,0.024842,0.018240,0.026405,0.018673,0.021591,0.018841,...,0.009689,0.022246,0.013360,0.012378,0.000000,0.025839,0.023712,0.018012,0.028133,0.052315
6,0.022967,0.122637,0.071967,0.188898,0.222312,0.071049,0.164005,0.076842,0.095137,0.122987,...,0.047859,0.102881,0.062647,0.060845,0.000000,0.118870,0.120876,0.080545,0.152925,0.181533
7,0.062503,0.372868,0.198837,0.034989,0.046235,0.209330,0.095166,0.054397,0.118785,0.080396,...,0.049927,0.117622,0.092001,0.089025,0.017309,0.102175,0.136675,0.127286,0.098902,0.141889
8,0.009577,0.084303,0.047613,0.027602,0.043137,0.024943,0.031655,0.014261,0.026341,0.024008,...,0.011018,0.026196,0.019240,0.015344,0.000000,0.027063,0.030581,0.024177,0.033878,0.075097
9,0.016342,0.081805,0.043044,0.039426,0.026811,0.049085,0.027855,0.014940,0.023836,0.024325,...,0.012365,0.022456,0.016859,0.017366,0.000000,0.029529,0.032399,0.021871,0.027114,0.029839
10,0.044189,0.155954,0.075501,0.106136,0.066934,0.253253,0.044313,0.020359,0.117624,0.040900,...,0.046781,0.069744,0.046964,0.045225,0.041817,0.041142,0.083420,0.081787,0.055053,0.019026

-> 영화 별 예측평점이 나오게 된다.

### 예측 평점 정확도를 판단하기 위해 오차 함수인 RMSE를 이용

In [19]:
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE 를 구함. 
def get_mse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten() 
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

# nonzero >> 0이아닌 요소들의 인덱스들을 리턴함

print('아이템 기반 모든 인접 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values ))

아이템 기반 모든 인접 이웃 MSE:  9.895354759094706

### top-n 유사도를 가진 데이터들에 대해서만 예측 평점 계산

In [20]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)

    # 사용자-아이템 평점 행렬의 열 크기만큼 Loop 수행. 
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 index 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        # 개인화된 예측 평점을 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T) 
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))        
    return pred

In [26]:
# 참고
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6, 7])
print(arr[:-3:-1])
# 결과 [7,6]
# [시작: 끝: 단계] 순입니다.
# [ : -n-1: -1]

[7 6]

In [21]:
# 실행시간 2분 정도 걸림
ratings_pred = predict_rating_topsim(ratings_matrix.values , item_sim_df.values, n=20)
print('아이템 기반 인접 TOP-20 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values ))

# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)

<ipython-input-20-6a1571ba1895>:11: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
<ipython-input-20-6a1571ba1895>:12: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))

아이템 기반 인접 TOP-20 이웃 MSE:  3.6949999176225483

-> 최종적인 영화 별 예측 평점 데이터가 만들어졌다.

## 사용자에게 영화 추천을 해보자

In [22]:
# 사용자 9번에게 영화를 추천해보자
user_rating_id = ratings_matrix.loc[9, :]
user_rating_id[ user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Austin Powers in Goldmember (2002)                                                5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Producers, The (1968)                                                             5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Back to the Future (1985)                                                         5.0
Glengarry Glen Ross (1992)                                                        4.0
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                                     4.0
Name: 9, dtype: float64

#### 사용자가 관람하지 않은 영화 중에서 영화를 추천해보자

user_rating이 0보다 크면 기존에 관람한 영화라는 점을 이용해서 계산

In [23]:
def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화정보 추출하여 Series로 반환함. 
    # 반환된 user_rating 은 영화명(title)을 index로 가지는 Series 객체임. 
    user_rating = ratings_matrix.loc[userId,:]
    
    # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 index를 추출하여 list 객체로 만듬
    already_seen = user_rating[ user_rating > 0].index.tolist()
    
    # 모든 영화명을 list 객체로 만듬. 
    movies_list = ratings_matrix.columns.tolist()
    
    # list comprehension으로 already_seen에 해당하는 movie는 movies_list에서 제외함. 
    unseen_list = [ movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [24]:
# pred_df : 앞서 계산된 영화 별 예측 평점
# unseen_list : 사용자가 보지 않은 영화들
# top_n : 상위 n개를 가져온다.

def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    # 예측 평점 DataFrame에서 사용자id index와 unseen_list로 들어온 영화명 컬럼을 추출하여
    # 가장 예측 평점이 높은 순으로 정렬함. 
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

In [25]:
# 사용자가 관람하지 않는 영화명 추출   
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 아이템 기반의 인접 이웃 협업 필터링으로 영화 추천 
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이타를 DataFrame으로 생성. 
recomm_movies = pd.DataFrame(data=recomm_movies.values,index=recomm_movies.index,columns=['pred_score'])
recomm_movies

                                                    pred_score
title
Shrek (2001)                                          0.866202
Spider-Man (2002)                                     0.857854
Last Samurai, The (2003)                              0.817473
Indiana Jones and the Temple of Doom (1984)           0.816626
Matrix Reloaded, The (2003)                           0.800990
Harry Potter and the Sorcerer's Stone (a.k.a. H...    0.765159
Gladiator (2000)                                      0.740956
Matrix, The (1999)                                    0.732693
Pirates of the Caribbean: The Curse of the Blac...    0.689591
Lord of the Rings: The Return of the King, The ...    0.676711

결론:
아이템 기반의 인접 이웃 협업 필터링으로
사용자의 영화 예측 평점을 계산해서
상위 10개의 영화를 추천해주었다.